/* Alert header */

header#alert {
    align-items: center;
    background-color: var(--alertBackground0);
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
}

header#alert p {
    color: var(--alertTextColor0);
    font-family: var(--fontRegular);
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* When screen width is between 320px and 480px */

@media (min-width: 320px) and (max-width: 479px) {
    header#alert {
        gap: 0.25rem;
        padding: 0.75rem 0;
    }
    
    header#alert p {
        font-size: 1rem;
    }
}

/* Gaps and paddings remain the same for larger screens */

@media (min-width: 480px) {
    header#alert {
        gap: 0.5rem;
        padding: 1rem 0;
    }
}

/* When screen width is between 480px and 1024px */

@media (min-width: 480px) and (max-width: 1023px) {
    header#alert p {
        font-size: 1.25rem;
    }    
}

/* When screen width is between 1024px and 1440px */

@media (min-width: 1024px) and (max-width: 1439px) {
    header#alert p {
        font-size: 1.5rem;
    }    
}

/* When screen width is above 1440px */

@media (min-width: 1440px) {
    header#alert p {
        font-size: 1.75rem;
    }    
}

/* Breathing animation to catch users' attention */
