/* Colors to use for the website */

/* For general contents, I am using black/white texts on light/dark gray backgrounds. */

@media (prefers-color-scheme: light) {
    :root {
        --textColorRegular: black;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --textColorRegular: white;
    }
}

/* For the tints and shades of gray, I am using the colors from the Apple developer documents. */

@media (prefers-color-scheme: light) {
    :root {
        --macosSystemGray: rgb(142,142,147);
        --iosSystemGray2: rgb(174,174,178);
        --iosSystemGray5: rgb(229,229,234);
        --iosSystemGray6: rgb(242,242,247);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --macosSystemGray: rgb(152,152,157);
        --iosSystemGray2: rgb(99,99,102);
        --iosSystemGray5: rgb(44,44,46);
        --iosSystemGray6: rgb(28,28,30);
    }
}

:root {
    --lightGray0: var(--iosSystemGray2);
    --lightGray1: var(--macosSystemGray);
    --darkGray0: var(--iosSystemGray6);
    --darkGray1: var(--iosSystemGray5);
}

/* For brand-related colors, I am using the green colors from IBM Design Language. */

:root {
    --ibmGreen30: #6fdc8c;
    --ibmGreen40: #42be65;
    --ibmGreen50: #24a148;
    --ibmGreen60: #198038;
    --ibmGreen70: #0e6027;
}

/* Header and footer will always use the same color. */

:root {--greenStandard: var(--ibmGreen50);}

/* For the light mode, I am using the designs of white texts on darker green backgrounds. */

@media (prefers-color-scheme: light) {
    :root {
        --green0: var(--ibmGreen60);
        --green1: var(--ibmGreen70);
        --textOnColor: white;
    }
}

/* For the dark mode, I am using the designs of black texts on brighter green backgrounds. */

@media (prefers-color-scheme: dark) {
    :root {
        --green0: var(--ibmGreen40);
        --green1: var(--ibmGreen30);
        --textOnColor: black;
    }
}

/* I am also using other colors from the Apple developer documents for better clarity and element displays. */

@media (prefers-color-scheme: light) {
    :root {
        --orange: rgb(255,149,0);
        --yellow: rgb(255,204,0);
        --blue: rgb(0,122,255);
        --indigo: rgb(88,86,214);
        --purple: rgb(175,82,222);
        --pink: rgb(255,45,85);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --orange: rgb(255,159,10);
        --yellow: rgb(255,214,10);
        --blue: rgb(10,132,255);
        --indigo: rgb(94,92,230);
        --purple: rgb(191,90,242);
        --pink: rgb(255,55,95);
    }
}

/* Categorize the colors for different purposes. */

/* Alerts and highlights use either black texts on yellow backgrounds or white texts on orange backgrounds. */

:root {
    --alertBackground0: var(--yellow);
    --alertBackground1: var(--orange);
    --alertTextColor0: black;
    --alertTextColor1: white;
}
